@model MExpense
@{
    ViewData["Title"] = "Edit";
}



<div class="container border border-2 " style="" >

<form class="" method="Post" action="Edit">

    <div class="container  m-3" >
        <h1>Edit</h1>
      <label> Id</label >

          <input name="Id" value="@Model.Id" style="" class="form-control" />
    </div>



    <div class="mb-3">

        <label>Amount</label >
        <input name="Amount" value="@Model.Amount" style="" class="form-control" />
    </div>
    <div class="mb-3">

        <label>Category</label>
       <select class="form-control" name="Category">

           <option>Food</option>
           <option>Clothing</option>
           <option>Fruits</option>
           <option>Shopping</option>
           <option>Transport</option>
           <option>Home</option>
           <option>Pet</option>
           <option>Others</option>



       </select>
    </div>

    <div class="mb-3">

        <label>Type</label>
         <select class="form-control" name="Type">

           <option>Income</option>
           <option>Expense</option>
       
           


       </select>
    </div>
    <div class="mb-3">

        <label>Date</label>
        <input name="Date" value="@Model.Date"  class="form-control" />
    </div>
    <div class="mb-3">

        <button type="submit" class="btn btn-primary">Update</button>
        
    </div>
</form>

</div>
